html {
  background-color: #100e17;
}

main {
  justify-content: center;
  align-items: center;
  background-color: #100e17;
  text-align: center;
  background-image: url("./src/dark-fish-skin.png");
}
