.qr {
  width: 125px;
  height: auto;
  alt: "bitcoin qr code";
  margin-top: 5px;
}

.tipTitle {
  font-family: "Titillium Web";
  font-size: 30px;
  margin-bottom: 0px;
  margin-top: 0px;
}

.btcAddress {
  font-size: 15px;
  margin-top: 0px;
}
