.responsiveCategorySelection {
  padding: 16px;
  margin: auto;
}

@media (min-width: 1600px) {
  .responsiveCategorySelection {
    padding: 16px;
    width: 85%;
    margin: auto;
  }
}

@media (min-width: 1824px) {
  .responsiveCategorySelection {
    padding: 16px;
    width: 75%;
    margin: auto;
  }
}
